.custom-input{
    position: relative;
}

.custom-input > span:first-child{
    position: absolute;
    left: 5px;
    top: 10%;
    color: hsl(184, 14%, 56%);
}

.custom-input-field{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    background-color:hsl(189, 41%, 97%);
    direction: rtl;
    width: 100%;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    transition: all 150ms ease-in-out;
}

.custom-input-field:focus{
    outline: 2px solid hsl(172, 67%, 45%);
}

.custom-input-field::placeholder{
    font-weight: 700;
}

.placeholder-right::placeholder{
    text-align: right;
}

.placeholder-center::placeholder{
    text-align: center;
}