.App{
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title-input, .section-title-result{
  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: 700;
}

.section-title-input{
  color: hsl(186, 14%, 43%);
  margin-bottom: 10px;
}

.section-title-result{
  color: hsl(0, 0%, 100%);
  width: max-content;
  /* border: 3px solid blue; */
  margin: 0;
}

.section-title-result + span{
  /* border: 3px solid green; */
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 700;
}

.section-title-result::after{
  content: "\A/ person";
  white-space: pre;
  color: hsl(186, 14%, 43%);
}

.tip-container{
  /* border: 3px solid red; */
  background-color: hsl(0, 0%, 100%);
  width: 45rem;
  height: max-content;
  display: flex;
  /* margin: 20px 10%; */
  border-radius: 2rem;
  padding: 1.5%;
}

.input-field, .result-field{
  margin: 0 1%;
}

.input-field{
  width: 50%;
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  padding: 4.5%;
  border-radius: 0.8rem;
}

.input-field > section{
  margin-bottom: 1.5rem;
}

.bill-section{
  width: 100%;
  /* border: 3px solid purple; */
}

.tip-section{
  width: 100%;
  /* border: 3px solid purple; */
}

.tip-selection{
  /* border: 3px solid red; */
  display: grid;
  width: 100%;
  grid-gap: 1vw;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
}

.people-number{
  display: flex;
  flex-direction: column;
  position: relative;
  /* border: 3px solid blue; */
}

.people-number > span{
  /* border: 3px solid red; */
  font-weight: 700;
  font-size: clamp(0.6rem, 1vw, 0.8rem);
  position: relative;
  right: 0;
  align-self: flex-end;
  color:#e06e02;
}

.result-field{
  /* border: 3px solid red; */
  width: 50%;
  padding: 4.5%;
  background-color: hsl(183, 100%, 15%);
  color: white;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
}

.tip-amount{
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.tip-total{
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 730px) {
  .tip-container{
    width: 100%;
  }
}

@media only screen and (max-width: 550px){
  .tip-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-field, .result-field{
    width: 100%;
  }

  .tip-amount, .tip-total{
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 375px){
  .tip-selection{
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
  }
}