*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, .App, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Space Mono', monospace;
}
