*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, .App, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  height: max-content;
  width: max-content;
  font-family: 'Space Mono', monospace;
}
